@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

html, body, #container
  height: 100%

body
  color: color-default
  background: color-background
  font: font-size font-sans
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  cursor: url('images/cursor.ico'), auto

a
  color: color-link
  text-decoration: none
  &:visited
    color: color-link

code
  margin: 0 2px
  color: #e96900
  padding: 3px 5px
  font-size: 0.9em
  border-radius: 2px
  font-family: font-mono
  background-color: #f8f8f8

.outer
  clearfix()
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 gutter-width
  @media mq-mini
    padding: 0

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

.logo
  width: logo-width
  height: logo-height
  background-repeat: no-repeat
  background-image: url(logo-url)
  background-size: logo-width logo-height

#profile
  @media mq-normal
    transform: scale(0)

#sidebar, .layout-wrap, .timeline, article
  transform: scale(0)

@keyframes resize
  0%
    transform: scale(1, 1)
  50%
    transform: scale(1.1, 0.9)
  100%
    transform: scale(1, 1)

@keyframes d
  0%
    transform: scale(1)
  50%
    transform: scale(.8)
  to
    transform: scale(1)

.throb
  display: inline-block
  animation: d 1.33s ease-in-out infinite

#nprogress
  .bar
    background: color-link
  .peg
    box-shadow: 0 0 10px color-link, 0 0 5px color-link
  .spinner
    top: (header-height / 2) - 9px
  .spinner-icon
    border-top-color: color-link
    border-left-color: color-link

.chuncai-main
  > .chuncai-chat
    background: rgba(255, 255, 238, .7) !important

.aplayer
  background: #fff
  margin: 10px 0 0 !important

.spinner,
.aplayer,
.like-vote,
.chuncai-main
  @media mq-mini
    display: none !important
  @media mq-mobile
    display: none !important

#container
  position: relative
  & > .outer
    margin-bottom: 30px
    if use-fixed-nav
      margin-top: header-height
      @media mq-mini
        margin-top: header-height + header-sub-height
      @media mq-mobile
        margin-top: header-height + header-sub-height

#main
  @media mq-normal
    column(main-column)
  @media mq-tablet
    if sidebar
      column(main-column-tablet)
    else
      width: 100%
  @media mq-mobile
    width: 100%
  @media mq-mini
    width: 100%

@import "_extend"
@import "_partial/header"
@import "_partial/profile"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/timeline"
@import "_partial/footer"
@import "_partial/sidebar"
@import "_partial/insight"
@import "_util/highlight"

if sidebar is left
  #main
    float: right
  #profile
    float: right
