<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> Made with <i class="fa fa-heart throb" style="color: #d43f57;"></i> by <%= config.author || config.title %><br>
      Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="https://github.com/MoeFE/Hexo-Theme-MoeIcarus" target="_blank">MoeIcarus</a><br>
      <% if (theme.plugins.hitokoto) { %>
        <%- partial('plugin/hitokoto') -%>
      <% } %>
    </div>
  </div>
</footer>
